

@media screen and (min-width: 320px) {
    .container {
        
        max-width: 428px;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto;
    }

    @media (max-width: 402px) {
    .mob-address-tel {
    font-size: 26px;
    }
}
.mob-studio{
    color: var(--pressed-state-ocean);
}


    /* .mob-social-list {
        display: flex;
        justify-content: center;
        gap: 56px;
    } */

    .benefits-icon {
        display: none;
    }

    .benefits-list {
        gap: 72px;
    }

    .benefits {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    
    .doing {
        display: none;
    }

    .footer-email-text {
    display: flex;
    justify-content: center;
}

    .footer-email {
        gap: 16px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .footer-label {
        width: 100%;
        display: flex;
        justify-content: center;
}
}



@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .header-logo {
        margin-right: 76px;
    }

    .header-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header-menu {
        display: flex;
        gap: 40px;
    }

    .header-but-icon {
        display: none;
    }
    
    .header-menu-imet {
        color: var(--navi-blue);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-menu-list {
        color: var(--navi-blue);
        display: block;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .header-address-menu {
        font-style: normal;
        display: flex;
    }

    .header-address {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .header-address-item { 
        color: var(--slate-color);
        font-size: 12px;
        line-height: 1.17;
        font-weight: 400;
        letter-spacing: 0.04em;
    }
    
    .header-address-list {
        color: var(--slate-color);
    }
    
    .header-menu-imet .link:hover {
        color: var(--pressed-state-ocean);
    }
    .header-menu-imet .link:focus {
        color: var(--pressed-state-ocean);
    }
    .header-address .link:hover {
        color: var(--pressed-state-ocean);
    }
    .header-address .link:focus {
        color: var(--pressed-state-ocean);
    }
    
    .current {
        position: relative;
        color: var(--pressed-state-ocean);
    }
    
    .current::after {
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        position: absolute;
        bottom: -1px;
        background:var(--pressed-state-ocean);
        left: 0;
    }


    .hero {
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-tab-opt.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)), url(../images/people-office-tab-2x.jpg);
    }
}
    .hero-title {
        font-size: 56px;
        line-height: 1.07; 
        max-width: 496px;
        padding-bottom: 0;
        margin-bottom:36px;
    }
    .benefits {
        display: flex;
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .benefits-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    .benefits-icon {
        display: none;
    }
    .benefits-item {
        flex-basis: calc((100% - 24px) / 2);
    }
    .benefits-subtitle {
        align-self: stretch;
        text-align: start;
    }
    .doing {
        display: none;
}
    .team {
        padding: 96px 108px;
}
    .title-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
        justify-content: center;
        flex-basis: calc((100% - 24px) / 2);
    }
.team-item {
    /* flex-basis: calc((100% - 24px) / 2);
} */
}
.customers-list {
    gap: 72px 24px;
    justify-content: center;
}
.customers-item {
    height: 88px;
    width: 168px;
}
.footer {
    padding-top: 96px;
    padding-bottom: 96px;
}
.container .footer-logo {
    display: inline-block;
}
.container-footer {
    flex-direction: column;
    align-items: flex-start;
}

.container-foot {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    max-width: 584px;
    gap: 72px 24px;
}

.footer-social-text {
    justify-content: left;
}
.footer-email-text {
    justify-content: flex-start;
}
.footer-email {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    justify-content: center;
}
.footer-input-email {
    width: 264px;
}
.footer-form {
margin-right: 40px;
}

.button {
    padding-top: 64px;
    padding-bottom: 96px;
}

.button-list {
    margin-bottom: 64px;
}
.content-list {
    row-gap: 72px;
}

.content-item {
    width: calc((100% - 24px) / 2); 
}
}


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left:  15px;
        padding-right:  15px;
        /* padding: 188px 0; */
    }
    .header-logo {
        margin-right: 76px;
    }

    .header-menu-imet {
        color: var(--navi-blue);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-address {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .header-address-item { 
        color: var(--slate-color);
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        letter-spacing: 0.02em;
    }

    .hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)), url(../images/people-office-2x.jpg);
    }
}

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 48px;
        padding-bottom: 0;
    }

    .hero-button {
}
.benefits {
    padding-top: 120px;
    padding-bottom: 120px;
}

    .benefits-list {
        gap: 24px;
    }

    .benefits-item {
        flex-basis: calc((100% - 72px) / 4);
    }

    .benefits-item-text {
        font-weight: 400;
    }
    
    .benefits-icon {
        border-radius: 4px;
    background: var(--cloud-color);
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px; 
    }

    .benefits-subtitle {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }
    .doing {
        padding-bottom: 120px;
        display: flex;
    }

    .doing-subtitle {
        color: var(--navi-blue);
        font-size: 36px;
        text-align: center;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02;
        text-transform: capitalize;
        margin-bottom: 72px;
    }

    .doing-list {
        align-items: center;
        gap: 24px;
    }

    .doing-item {
        width: calc((100% - 48px) / 3); 
    
    }

    .team { 
        padding: 120px 0;
}
    .title-list {
        display: flex;
        gap: 24px;
    }

    .benefits-item {
        flex-basis: calc((100% - 72px) / 4);
    }

    .customers-block {
        padding: 120px 0;
    }
    .customers-list {
        display: flex;
        gap: 24px;
        justify-content: center;
    }

    .customers-item {
        height: 88px;
        width: 168px;
    }

    .footer {
        padding: 100px 0;
    }

    .container .footer-logo {
        display: inline-block;
    }
    .footer-logo {
        margin-bottom: 16px;
    }
    .container-foot {
        max-width: 1158px;
        display: flex;
        flex-wrap: nowrap;
    }

    .container-footer {
        margin-right: 120px;
    }
    
.footer-form {
    margin-left: 80px;
    margin-right: 0;
}

.footer-email {
    gap: 24px;
}
    .footer-input-email::placeholder {
    color: #ffffff;
    }

    .button {
        padding-top: 100px;
        padding-bottom: 120px;
    }
    
    .button-list {
        gap: 24px; 
        margin-bottom: 72px;
    }
    

.content-item {
    width: calc((100% - 48px) / 3); 
}

    }